.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-block {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.chart {
    width: 100%;
    height: 350px;
}

fieldset {
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #007BFF;
}

@media (max-width: 768px) {
    .chart-block {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .chart-block {
        flex: 1 1 100%;
    }
}

/* กำหนดให้ .date แสดงบนบรรทัดใหม่ */
.date {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #555; /* สีอ่อนลงเล็กน้อย */
}

/* ใช้ CSS เพื่อให้ช่วงวันที่แสดงในบรรทัดใหม่ */
.date-range {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #555; /* สีอ่อนลงเล็กน้อย */
}
